@use './../Style/general';

div {
  .search {
    .searchbar {
      display: grid;
      grid-template-columns: auto 4em;

      grid-column-gap: 0px;

      height: 3em;

      input {
        @include general.padding;
      }

      input[type=text] {
        @include general.border;
        border-right-width: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        background-color: general.$white;
      }

      input[type=button] {
        @include general.border;
        padding: 0px; 

        background-color: general.$blue;
        color: general.$white;

        border-left-width: 1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .results {
      @include general.border;
      @include general.padding;
      background-color: general.$white;

      z-index: 0;
      position: absolute;

      width: calc(100vw - 1em);

      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-top-width: 0px;

      display: none;

      // transform: translateY(-1px);
    }
  }

  .search.open {
    .searchbar {
      input {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .results {
      color: red;
      display: block;
    } 
  }
}
