@use 'general';

@import 'Reset';

body {
  height: calc(100vh - 1em);
  width: 100vw;

  background-color: general.$light-blue;
  color: general.$black;

  font-family: Fira Sans;
}

button, input[type=button] {
  @include general.border;
  @include general.padding;
  background-color: general.$white;
}

